<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIAIC</title>
    <link rel="stylesheet", type="text/css", href="{{url_for('static', filename='style.css')}}">
</head>
<h1> I am Header | PIAIC Pakistan</h1>
<a href="{{url_for('index')}}">Home</a><br>
<a href="{{url_for('gallery')}}">Gallery</a><br>
<a href="{{url_for('about')}}">About</a><br>
<a href="{{url_for('contact')}}">Contact Us</a><br>
{% block body %}

{% endblock %}
<h1>I am footer</h1>


<body>
    
</body>
</html>